# Linux Export Configuration for Buffalo Brook Gold Rush
# Godot Export Preset Configuration

[preset.0]

name="Linux"
platform="Linux/X11"
runnable=true
advanced_options=false
dedicated_server=false
custom_template/debug=""
custom_template/release=""
application/modern_app=true
application/identifier="com.yourcompany.buffalo-brook-gold-rush"
application/signature=""
application/app_category="Game"
application/ssh_remote_deploy/enabled=false
application/ssh_remote_deploy/host="user@host_ip"
application/ssh_remote_deploy/port="22"
application/ssh_remote_deploy/extra_args_ssh=""
application/ssh_remote_deploy/extra_args_scp=""
application/ssh_remote_deploy/run_script="#!/usr/bin/env bash
export DISPLAY=:0
cd '{temp_dir}'
'{exec_path}' {cmd_args}"
application/ssh_remote_deploy/cleanup_script="#!/usr/bin/env bash
pkill -f '{temp_dir}/'
sleep 1
rm -rf '{temp_dir}'"

[export_filter]

filter=""
exclude_filter=""
include_filter=""

[feature.Android]

apk_expansion/SFDN=""
apk_expansion/public_key=""

[feature.HTML5]

options/threading/pthreads=false

[feature.Mac OSX]

codesign/codesign=false
codesign/certificate=""
codesign/sign_once=false
codesign/timestamp=true
codesign/hardened_runtime=true
codesign/replace_existing_signature=true
codesign/entitlements/custom_file=""
codesign/entitlements/allow_jit_code_execution=false
codesign/entitlements/allow_unsigned_executable_memory=false
codesign/entitlements/allow_dyld_environment_variables=false
codesign/entitlements/disable_library_validation=false
codesign/entitlements/apple_events=false
codesign/entitlements/run_ssh_insertion=false
codesign/entitlements/device_plugins=false
codesign/entitlements/incoming_connections=false
codesign/entitlements/outgoing_connections=false
codesign/entitlements/is_applet=false
codesign/entitlements/app_sandbox/enabled=false
codesign/entitlements/app_sandbox/network_server=false
codesign/entitlements/app_sandbox/network_client=false
codesign/entitlements/app_sandbox/desktop_folder=false
codesign/entitlements/app_sandbox/documents_folder=false
codesign/entitlements/app_sandbox/downloads_folder=false
codesign/entitlements/app_sandbox/printer=false
codesign/entitlements/app_sandbox/cameras=false
codesign/entitlements/app_sandbox/microphone=false
codesign/entitlements/app_sandbox/location=false
codesign/entitlements/app_sandbox/address_book=false
codesign/entitlements/app_sandbox/calendar=false
codesign/entitlements/app_sandbox/photos_library=false
codesign/entitlements/app_sandbox/removable_media=false
codesign/entitlements/app_sandbox/helper_tool_execution=false
builtin_icons=false

[feature.Mobile]

xr_features/openxr=false

[feature.PC]

codesign/enable=false
codesign/identity=""
codesign/password=""
codesign/timestamp=true
codesign/hardened_runtime=true
codesign/options=""
codesign/entitlements/custom_file=""
codesign/entitlements/allow_jit_code_execution=false
codesign/entitlements/allow_unsigned_executable_memory=false
codesign/entitlements/allow_dyld_environment_variables=false
codesign/entitlements/disable_library_validation=false
codesign/entitlements/apple_events=false
codesign/entitlements/run_ssh_insertion=false
codesign/entitlements/device_plugins=false
codesign/entitlements/incoming_connections=false
codesign/entitlements/outgoing_connections=false
codesign/entitlements/is_applet=false
codesign/entitlements/app_sandbox/enabled=false
codesign/entitlements/app_sandbox/network_server=false
codesign/entitlements/app_sandbox/network_client=false
codesign/entitlements/app_sandbox/desktop_folder=false
codesign/entitlements/app_sandbox/documents_folder=false
codesign/entitlements/app_sandbox/downloads_folder=false
codesign/entitlements/app_sandbox/printer=false
codesign/entitlements/app_sandbox/cameras=false
codesign/entitlements/app_sandbox/microphone=false
codesign/entitlements/app_sandbox/location=false
codesign/entitlements/app_sandbox/address_book=false
codesign/entitlements/app_sandbox/calendar=false
codesign/entitlements/app_sandbox/photos_library=false
codesign/entitlements/app_sandbox/removable_media=false
codesign/entitlements/app_sandbox/helper_tool_execution=false
debug/export_console_wrapper=0
texture_format/s3tc_bptc=true
texture_format/etc2_astc=false
binary_format/embed_pck=true
custom_template/debug=""
custom_template/release=""

[feature.Web]

options/threading/pthreads=false

[feature.Windows]

binary_format/embed_pck=true
codesign/enable=false
codesign/identity=""
codesign/password=""
codesign/timestamp=true
codesign/hardened_runtime=true
codesign/options=""
codesign/entitlements/custom_file=""
codesign/entitlements/allow_jit_code_execution=false
codesign/entitlements/allow_unsigned_executable_memory=false
codesign/entitlements/allow_dyld_environment_variables=false
codesign/entitlements/disable_library_validation=false
codesign/entitlements/apple_events=false
codesign/entitlements/run_ssh_insertion=false
codesign/entitlements/device_plugins=false
codesign/entitlements/incoming_connections=false
codesign/entitlements/outgoing_connections=false
codesign/entitlements/is_applet=false
codesign/entitlements/app_sandbox/enabled=false
codesign/entitlements/app_sandbox/network_server=false
codesign/entitlements/app_sandbox/network_client=false
codesign/entitlements/app_sandbox/desktop_folder=false
codesign/entitlements/app_sandbox/documents_folder=false
codesign/entitlements/app_sandbox/downloads_folder=false
codesign/entitlements/app_sandbox/printer=false
codesign/entitlements/app_sandbox/cameras=false
codesign/entitlements/app_sandbox/microphone=false
codesign/entitlements/app_sandbox/location=false
codesign/entitlements/app_sandbox/address_book=false
codesign/entitlements/app_sandbox/calendar=false
codesign/entitlements/app_sandbox/photos_library=false
codesign/entitlements/app_sandbox/removable_media=false
codesign/entitlements/app_sandbox/helper_tool_execution=false
debug/export_console_wrapper=0
texture_format/s3tc_bptc=true
texture_format/etc2_astc=false

[preset.1]

name="Windows"
platform="Windows Desktop"
runnable=true
advanced_options=false
dedicated_server=false
custom_template/debug=""
custom_template/release=""
application/modern_app=true
application/identifier="com.yourcompany.buffalo-brook-gold-rush"
application/signature=""
application/app_category="Game"
application/info="Gold panning simulation game"
application/icon=""
application/console_wrapper_icon=""
application/copyright=""
application/trademark=""
application/product_name="Buffalo Brook Gold Rush"
application/file_description="Gold panning simulation game set in Vermont"
application/file_version="1.0.0"
application/company_name="Your Company"
application/legal_copyright="2023 Your Company"
application/trademarks=""
application/export_angle=false
application/export_d3d12=false
application/export_vulkan_mobile=false
application/rcedit=""
application/wsl_domain=""
application/wsl_flags=0
display/high_res=false
privacy/microphone_usage_description=""
privacy/camera_usage_description=""
privacy/location_usage_description=""
privacy/photos_library_usage_description=""
privacy/contacts_usage_description=""
privacy/bucket_usage_description=""
networking/webrtc/native_api=false
binary_format/embed_pck=false
custom_template/debug=""
custom_template/release=""
debug/export_console_wrapper=0
texture_format/s3tc_bptc=true
texture_format/etc2_astc=false

[preset.2]

name="Android"
platform="Android"
runnable=true
advanced_options=false
dedicated_server=false
custom_template/debug=""
custom_template/release=""
application/app_name="Buffalo Brook Gold Rush"
application/unique_name="com.yourcompany.buffalobrookgoldrush"
application/version_code=1
application/version_name="1.0"
application/package_name="com.yourcompany.buffalobrookgoldrush"
application/signed=false
application/min_sdk="21"
application/target_sdk=""
application/permissions=[]
application/extract_archives=false
display/orientation=1
display/title="Buffalo Brook Gold Rush"
display/headline=""
display/short_description=""
display/full_description=""
display/icon_192x192=""
display/logo_732x412=""
display/use_launch_screen_android=false
display/launch_screen_scale=0
display/launch_screen_rotate=0
display/immersive_mode=true
display/status_bar=false
display/navigation_bar=false
user_data_backup/allow=false
xr_features/xr_mode=0
xr_features/hand_tracking=0
xr_features/hand_tracking_frequency=0
xr_features/passthrough=0
screen/check_ranking=false
one_click_deploy/clear_previous_install=false

[options]

custom_template/debug=""
custom_template/release=""
application/icon=""
application/file_version="1.0.0"
application/product_version="1.0.0"
application/company_name="Your Company"
application/product_name="Buffalo Brook Gold Rush"
application/file_description="Gold panning simulation game set in Vermont"
application/copyright="2023 Your Company"
application/trademark=""
application/export_angle=false
application/export_d3d12=false
application/export_vulkan_mobile=false
application/rcedit=""
application/wsl_domain=""
display/high_res=true
privacy/microphone_usage_description=""
privacy/camera_usage_description=""
privacy/location_usage_description=""
privacy/microphone_usage_description_linux=""
privacy/camera_usage_description_linux=""
linux/64_bits=true
linux/custom_binary_64=""
bsd/64_bits=true
bsd/custom_binary_64=""